<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>EMF Structure Sheet</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.min.js"></script>
        <script src="https://grist.orga.emfcamp.org/grist-plugin-api.js"></script>
        <script src="tent-sheet.ts" type="module"></script>
    </head>
    <body>
        <div id="app">
            <div class="status" v-if="status">
                <template v-if="status === 'waiting'">
                    <p>Waiting for data...</p>
                    <ul>
                        <li v-bind:class="[tableConnected ? 'done' : '']">
                            I need <b>read table</b> access.
                        </li>
                        <li v-bind:class="[haveRows ? 'done' : '']">I need at least one row of data.</li>
                        <li v-bind:class="[rowConnected ? 'done' : '']">I need <b>Select By</b> set.</li>
                    </ul>
                </template>
                <template v-else> {{ status }} </template>
            </div>
            <template v-if="structure">
                <h1>{{structure.Structure}}</h1>

                <div class="row">
                    <div class="attribute" v-if="structure.Capacity">
                        <span class="name">Capacity</span>
                        <span class="value">{{structure.Capacity}}</span>
                    </div>
                    <div class="attribute" v-if="structure.Area_m2_ && structure.Area_m2_ > 0">
                        <span class="name">Floor area</span>
                        <span class="value">{{structure.Area_m2_|round}} m<sup>2</sup></span>
                    </div>
                    <div class="attribute">
                        <span class="name">Supplier</span>
                        <span class="value">{{structure.Supplier}}</span>
                    </div>
                    <div class="attribute">
                        <span class="name">Type</span>
                        <span class="value">{{structure.Type.Type_Variant}}</span>
                    </div>
                    <div class="attribute">
                        <span class="name">Ready by</span>
                        <span class="value">{{structure.Ready_By | asDate}}</span>
                    </div>
                    <div class="attribute">
                        <span class="name">Cleared by</span>
                        <span class="value">{{structure.Needed_Until | asDate}}</span>
                    </div>
                </div>

                <template v-if="structure.Notes">
                    <p class="notes"><strong>Notes</strong>: {{ structure.Notes }}</p>
                </template>

                <div class="flooring" v-if="structure.Flooring_Coverage > 0">
                    <h2>Flooring</h2>
                    <div class="row">
                    <div class="attribute">
                        <span class="name">Flooring coverage</span>
                        <span class="value">{{structure.Flooring_Coverage * 100}}%</span>
                    </div>
                    <div class="attribute">
                        <span class="name">Flooring weeks</span>
                        <span class="value">{{structure.Weeks}}</span>
                    </div>
                    </div>
                </div>
                <div class="furniture" v-if="structure.Furniture">
                    <h2>Furniture</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Item</th>
                            <th>Quantity</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="item in structure.Furniture">
                            <td class="money">{{ item.Item_Type }}</td>
                            <td class="number">{{ item.Item_Quantity }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="qrcode" v-if="structure.qrcode">
                    <h2>Map location</h2>
                    <img :src="structure.qrcode" />
                </div>

                <div class="print">
                    <a href="javascript:window.print()">Print</a>
                </div>

                <footer>
                Electromagnetic Field 2024
                </footer>
            </template>
        </div>
    </body>
</html>
